<h2>Clients</h2>
<div class="error">{{errorMessage}}</div>
<span>Server-side: </span>
<label>Page:
  <input type="number" [(ngModel)]="page" (change)="getItems()" min="0">
</label>
<label>Sort:
  <select [(ngModel)]="sort" (change)="getItems()">
    <option value="id">Id</option>
    <option value="name">Name</option>
  </select>
</label>
<label>Order:
  <select [(ngModel)]="order" (change)="getItems()">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>
</label>
<label>Filter:
  <input type="text" [(ngModel)]="filter" (change)="getItems()">
</label>
<ul>
  <li *ngFor="let client of items"
      (click)="onSelect(client)">
    Id:{{client.id}} | Name:{{client.name}}
    <button
      [class.delete]="true"
      (click)="delete(client);$event.stopPropagation()">X
    </button>
  </li>

</ul>
<button
  (click)="update();$event.stopPropagation()">Update
</button>
<button
  (click)="add();$event.stopPropagation()">Add
</button>
<div *ngIf="formItem">

  <div>
    <label>Id:
      <input [(ngModel)]="formItem.id" placeholder="Id"/>
    </label>
  </div>
  <div>
    <label>Name:
      <input [(ngModel)]="formItem.name" placeholder="Name"/>
    </label>
  </div>
</div>
